<section class="content-main">

    <div class="content-header">
        <h2 class="content-title">Orders</h2>
        {{!-- <div>
            <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
        </div> --}}
    </div>

    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                {{!-- <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div> --}}
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end"> Action </th>
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>{{calculation @index}}</td>
                            <td><b>{{this.deliveryaddress.fullname}}</b></td>
                            <td>{{this.deliveryaddress.phone}}</td>
                            <td>₹ {{this.amount}}</td>
                            <td><span class="badge rounded-pill alert-warning">{{this.status}}</span></td>
                            <td>{{this.date}}</td>
                            <td class="text-end">
                                <button class='btn btn-primary btn-primary me-md-2' type='button'><a
                                        href="/admin/orderdetails/{{this._id}}"
                                        style="text-decoration: none; color:white">Details</a></button>

                            </td>
                            {{#if this.iscancelled}}
                            <td class="text-danger">cancelled</td>
                            {{else}}

                            <td class="text-end">
                                <select class="form-select d-inline-block" id="{{this._id}}" style="max-width: 200px"
                                    onchange="changeSinglestatus('{{this._id}}','{{this.user}}')">

                                    <option>change status</option>
                                    <option value="confirmed">Confirmed</option>
                                    <option value="shipped">Shipped</option>
                                    <option value="delivered">Delivered</option>
                                    <option value="cancelled">Cancel</option>

                                </select>
                            </td>

                            {{/if}}

                        </tr>
                        {{/each}}




                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->


</section> <!-- content-main end// -->
<script>
    function changeSinglestatus(cartId, userId) {
        let stat = document.getElementById(cartId).value
        console.log(cartId, userId, stat)
        $.ajax({
            url: '/admin/changestatus',
            data: {
                cart: cartId,
                user: userId,
                status: stat
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    // alert("Deleted")
                    location.reload()
                } else {

                }
            }
        })
    }
</script>