<section class="content-main">

    <div class="content-header">
        <h2 class="content-title">Order details</h2>
    </div>


    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">

                    <span>
                        {{#each orderdetails}}
                        <i class="material-icons md-calendar_today"></i> <b>{{this.date}}</b>
                    </span> <br>

                    <small class="">Order Status: <span class="text-success">{{this.status}}</span> </small>
                    <br>
                    <small class="">Payment Method: <span class="text-success">{{this.paymentmethod}}</span> </small>
                </div>

                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                    {{#if ../isCancelled}}
                    {{else}}
                    <select class="form-select d-inline-block" id="status" style="max-width: 200px"
                        onchange="changestatus('{{this._id}}','{{this.user}}')">
                        <option>Change status</option>
                        <option value="confirmed">Confirmed</option>
                        <option value="shipped">Shipped</option>
                        <option value="delivered">Delivered</option>
                        <option value="cancelled">Cancel</option>

                    </select>
                    {{/if}}
                    {{!-- <button class='btn btn-primary btn-primary me-md-2' type='submit'
                        style="text-decoration: none; color:white">Confirm</button> --}}
                </div>
                {{/each}}
        </header> <!-- card-header end// -->
        {{#each orderdetails}}
        <div class="card-body">
            <div class="row mb-5 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                {{this.deliveryaddress.fullname}} <br> {{this.deliveryaddress.phone}}
                            </p>
                        </div>
                    </article>
                </div> <!-- col// -->

                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                {{this.deliveryaddress.address}} {{this.deliveryaddress.city}}
                                {{this.deliveryaddress.place}},<br> {{this.deliveryaddress.pincode}}
                            </p>

                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            {{/each}}
            <div class="row">
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="table border table-hover table-lg">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>

                                    <th width="20%">Price</th>
                                    <th>qty</th>
                                    <th width="40%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each singlePrice}}
                                <tr>
                                    <td>
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="/uploads/image-1/{{this.product._id}}.jpg" width="40"
                                                    height="50" class="img-xs" alt="Item">
                                            </div>
                                            <div class="info"> {{this.product.product}} </div>
                                        </a>
                                    </td>
                                    <td>₹ {{this.product.price}}</td>
                                    <td class="text-end"> {{this.quantity}} </td>
                                    <td class="text-end"> {{this.total}} </td>
                                </tr>
                                {{/each}}
                                <tr>
                                    <td colspan="4">
                                        <article class="float-end">
                                            {{!-- <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>₹ 46425</dd>
                                            </dl> --}}
                                            <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>free</dd>
                                            </dl>
                                            {{#each orderdetails}}
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd> <b class="h5">₹ {{this.amount}}</b> </dd>
                                            </dl>
                                            {{/each}}
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive// -->
                </div> <!-- col// -->
                {{!-- <div class="col-lg-4">
                    <div class="box shadow-sm bg-light">
                        <h6>Payment info</h6>
                        <p>
                            <img src="images/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768
                            <br>
                            Business name: Grand Market LLC <br>
                            Phone: +1 (800) 555-154-52
                        </p>
                    </div>
                    <div class="h-25 pt-4">
                        <div class="mb-3">
                            <label>Notes</label>
                            <textarea class="form-control" name="notes" id="notes"
                                placeholder="Type some note"></textarea>
                        </div>
                        <button class="btn btn-primary">Save note</button>
                    </div>
                </div> <!-- col// --> --}}

            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->



</section> <!-- content-main end// -->
<script>
    ///



    function changestatus(cartId, userId) {
        let stat = document.getElementById('status').value
        console.log(cartId, userId, stat)
        $.ajax({
            url: '/admin/changestatus',
            data: {
                cart: cartId,
                user: userId,
                status: stat
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    // alert("Deleted")
                    location.reload()
                } else {

                }
            }
        })
    }







</script>