<section class="content-main" style="max-width: 720px">

    <div class="content-header">
        <h2 class="content-title">Edit product</h2>
        <div>
            <button class='btn btn-danger me-m-2' type='button'><a href="/admin/products"
                    style="text-decoration: none; color:white">Discard</a></button>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <form action="/admin/editproduct/{{product._id}}" method="POST" enctype="multipart/form-data">

                <div class="mb-4">
                    <label for="product_name" class="form-label">Product Name</label>
                    <input type="text" value="{{product.product}}" name="product" placeholder="Type here"
                        class="form-control" id="product_name">
                </div>
                <div class="mb-4">
                    <label class="form-label">Full description</label>
                    <textarea placeholder="Type here" name="description" class="form-control"
                        rows="4">{{product.description}}</textarea>
                </div>
                {{!-- <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label for="product_name" class="form-label">Category</label>
                        <select class="form-select" name="category" id="maincat">
                            <option id="dog" value="Dog"> Dog </option>
                            <option id="cat" value="Cat"> Cat </option>

                        </select>
                    </div> --}}
                    {{!-- <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub category</label>
                        <select class="form-select" name="subcategory">
                            <option value="RetailandVet"> Retail and Vet products </option>
                            <option value="AccessoriesandGroom"> Accessories and Grooming </option>
                        </select>
                    </div> --}}
                    {{!-- <div class="col-sm-6 mb-3">
                        <label class="form-label">Type</label>
                        <select id="subtype" name="type" class="form-select">
                            <option id="subtype1"> Puppy </option>
                            <option id="subtype2"> Adult </option>
                        </select>
                    </div> --}}
                    {{!--
                </div> <!-- row.// --> --}}
                <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Price</label>
                        <input placeholder="" value="{{product.price}}" type="text" name="price" class="form-control">
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Qty</label>
                        <input placeholder="" name="quantity" value="{{product.quantity}}" type="text"
                            class="form-control">
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub-Image #1</label>
                        <img src="/uploads/image-1/{{product._id}}.jpg" id="imgview1" alt=""
                            style="width: 100px;height: 100px;">
                        <input name="img1" class="form-control" type="file" onchange="imgviewone(event)">
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub-Image #2</label>
                        <img src="/uploads/image-2/{{product._id}}.jpg" id="imgview2" alt=""
                            style="width: 100px;height: 100px;">
                        <input name="img2" class="form-control" type="file" onchange="imgviewtwo(event)">
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub-Image #3</label>
                        <img src="/uploads/image-3/{{product._id}}.jpg" id="imgview3" alt=""
                            style="width: 100px;height: 100px;">
                        <input name="img3" class="form-control" type="file" onchange="imgviewthree(event)">
                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub-Image #4</label>
                        <img src="/uploads/image-4/{{product._id}}.jpg" id="imgview4" alt=""
                            style="width: 100px;height: 100px;">
                        <input name="img4" class="form-control" type="file" onchange="imgviewfour(event)">
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub-Image #4</label>
                        <img src="/uploads/image-5/{{product._id}}.jpg" id="imgview5" alt=""
                            style="width: 100px;height: 100px;">
                        <input name="img5" class="form-control" type="file" onchange="imgviewfive(event)">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div> <!-- card end// -->


</section> <!-- content-main end// -->

<script>
    function imgviewone(event) {
        document.getElementById('imgview1').src = URL.createObjectURL(event.target.files[0])
    }
    function imgviewtwo(event) {
        document.getElementById('imgview2').src = URL.createObjectURL(event.target.files[0])
    }
    function imgviewthree(event) {
        document.getElementById('imgview3').src = URL.createObjectURL(event.target.files[0])
    }
    function imgviewfour(event) {
        document.getElementById('imgview4').src = URL.createObjectURL(event.target.files[0])
    }
    function imgviewfive(event) {
        document.getElementById('imgview5').src = URL.createObjectURL(event.target.files[0])
    }

</script>