<section class="content-main container">
    <div class="content-header">
        <h2 class="content-title">Categories</h2>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <form action="/admin/createCategory" onsubmit="return valcategory()" method="POST">

                        <div class="mb-4">
                            <label class="form-label">Category</label>
                            <input type="text" name="category" placeholder="Type here" class="form-control"
                                id="product_cat" />
                        </div>
                        <div class="mb-4">
                            <label for="product_slug" class="form-label">Sub Category</label>
                            <input type="text" name="subcategory" placeholder="Type here" class="form-control"
                                id="product_subcat" />
                            <p id="error-cname" class="text-danger"></p>
                        </div>

                        <div class="mb-4">
                            <label class="form-label">Type</label>
                            <select name="type" class="form-select" id="product_type">
                                <option value="">select</option>

                                <option value="retailandvet">Retail and vet</option>
                                <option value="accessories">Accessories</option>
                            </select>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create category</button>
                            <p id="error-message" class="text-danger"></p>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">

                    <table class="table table-hover">
                        <thead>

                            <tr>
                                <th>Category</th>
                                <th>Sub category</th>
                                <th>Type</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each details}}
                            <tr>
                                <td>{{this.category}}
                                </td>
                                <td><b>{{#each this.subcategory}}{{this.name}} <br />{{/each}}</b></td>
                                <td>{{#each this.type}}{{this.name}}<br /> {{/each}}</td>
                                <td class="text-end">
                                    <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i
                                                class="material-icons md-more_horiz"></i></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-danger"
                                                onclick="editCategory('{{this._id}}')">Edit</a>
                                            <a class="dropdown-item text-danger"
                                                href="/admin/delete-category/{{this._id}}">Delete</a>

                                        </div>
                                    </div>
                                    <!-- dropdown //end -->
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>


                    <div id="editcatdiv" style="display: none;">
                        <div class="col-md-4">
                            <form id="editcat">

                                <div class="mb-4" id="ecat">

                                </div>
                                <div class="mb-4" id="esubcat">
                                    <p id="error-cname" class="text-danger"></p>
                                </div>

                                <div class="mb-4" id="etype">

                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Edit category</button>
                                    <p id="error-message" class="text-danger"></p>
                                </div>
                            </form>
                        </div>


                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->
<script>







    function editCategory(catId) {
        document.getElementById('editcatdiv').style.display = ""
        $.ajax({
            url: "/admin/edit-category/",
            data: { catId },
            method: "post",
            success: function (response) {
                console.log(response.category)
                document.getElementById('ecat').innerHTML = '';
                document.getElementById('esubcat').innerHTML = '';
                document.getElementById('etype').innerHTML = '';
                console.log(response.category.subcategory.length)
                let elem = `<input type="text" name="category" value="${response.category.category}" id="ecatv" class="form-control" /><input type="text" name="categoryo" value="${response.category.category}" id="ecatv" class="form-control" hidden/>`
                document.getElementById('ecat').innerHTML = elem;
                for (let i = 0; i < response.category.subcategory.length; i++) {
                    let element = `<input type="text" name="subcategory" value="${response.category.subcategory[i].name}" id="esubv" class="form-control" /><input type="text" name="subcategoryo" value="${response.category.subcategory[i].name}" id="esubv" class="form-control" hidden/>`
                    document.getElementById('esubcat').innerHTML += element;
                }
                for (let i = 0; i < response.category.type.length; i++) {
                    let typeelement = `<input type="text" name="type" value="${response.category.type[i].name}" id="etypev"  class="form-control"/><input type="text" name="typeo" value="${response.category.type[i].name}" id="etypev" class="form-control" hidden/>`
                    document.getElementById('etype').innerHTML += typeelement;
                }
            }
        })
    }

    var ecatv = true; var esubv = true; var etypev = true;
    $("#ecatvt").on('input', function () {
        this.value = this.value.replace(/[^ a-zA-Z]/, '');
        var name = $(this).val()
        if (name.length < 2 || name.includes('  ') || name.charAt(0) == ' ') {
            $("#").text("Invalid Name");
            product_cat = false;
        } else {
            product_cat = true;
            $("#").text(" ");

        }
    })
    $("#esubv").on('input', function () {
        this.value = this.value.replace(/[^ a-zA-Z]/, '');
        var name = $(this).val()
        if (name.length < 2 || name.includes('  ') || name.charAt(0) == ' ') {
            $("#error-cname").text("fill the field");
            product_subcat = true;
        } else {
            product_subcat = true;
            $("#error-cname").text(" ");

        }
    })
    $("#etypev").on('input', function () {
        alert("hello")
        this.value = this.value.replace(/[^ a-zA-Z]/, '');
        var name = $(this).val()
        if (name.length < 2 || name.includes('  ') || name.charAt(0) == ' ') {
            $("#").text("Invalid Name");
            product_type = false;
        } else {
            product_type = true;
            $("#").text(" ");

        }
    })


    $('#editcat').on("submit", (e) => {
        $.ajax({
            url: "/admin/editcategory",
            data: $('#editcat').serialize(),
            method: "post",
            success: function (response) {
                if (response) {
                    console.log(response)
                    location.reload()
                }


            }
        })


    })













</script>