<section class="content-main" style="max-width: 720px">

    <div class="content-header">
        <h2 class="content-title">Edit product</h2>
        <div>
            <button class='btn btn-danger me-m-2' type='button'><a href="/admin/products"
                    style="text-decoration: none; color:white">Discard</a></button>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <form id="editprod" action="/admin/editproduct/{{this.product._id}}" method="post"
                enctype="multipart/form-data" onsubmit="return editProduct()">

                <div class="mb-4">
                    <label for="product_name" class="form-label">Product Name</label>
                    <input type="text" value="{{product.product}}" name="product" placeholder="Type here"
                        class="form-control" id="prod_name">
                    <p id="error-aename" class="text-danger"></p>

                </div>
                <div class="mb-4">
                    <label class="form-label">Full description</label>
                    <textarea placeholder="Type here" id="prod_des" name="description" class="form-control"
                        rows="4">{{product.description}}</textarea>
                    <p id="error-dename" class="text-danger"></p>
                </div>
                {{!-- <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label for="product_name" class="form-label">Category</label>
                        <select class="form-select" name="category" id="maincat">
                            <option id="dog" value="Dog"> Dog </option>
                            <option id="cat" value="Cat"> Cat </option>

                        </select>
                    </div> --}}
                    {{!-- <div class="col-sm-6 mb-3">
                        <label class="form-label">Sub category</label>
                        <select class="form-select" name="subcategory">
                            <option value="RetailandVet"> Retail and Vet products </option>
                            <option value="AccessoriesandGroom"> Accessories and Grooming </option>
                        </select>
                    </div> --}}
                    {{!-- <div class="col-sm-6 mb-3">
                        <label class="form-label">Type</label>
                        <select id="subtype" name="type" class="form-select">
                            <option id="subtype1"> Puppy </option>
                            <option id="subtype2"> Adult </option>
                        </select>
                    </div> --}}
                    {{!--
                </div> <!-- row.// --> --}}
                <div class="row gx-2">
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Price</label>
                        <input placeholder="" value="{{product.price}}" id="prod_price" type="number" name="price"
                            class="form-control">
                        <p id="error-pasname" class="text-danger"></p>

                    </div>
                    <div class="col-sm-6 mb-3">
                        <label class="form-label">Qty</label>
                        <input placeholder="" name="qty" value="{{product.qty}}" id="prod_qty" type="number"
                            class="form-control">
                        <p id="error-qtname" class="text-danger"></p>
                    </div>
                </div>
                {{!-- image crop start--}}
                <div class="container">
                    <div class="row justify-content-between" style="width:90%">
                        {{!-- item 1 start --}}
                        <div class="row gx-2">
                            <div class="col-sm-6 mb-3">
                                <h6 class="text-muted">Thumbnail</h6>
                                <div class="fileinput fileinput-new text-center">
                                    <div class="fileinput-new thumbnail">
                                        <img src="/uploads/image-1/{{product._id}}.jpg" id="chekPreview1" alt="...">

                                    </div>
                                    <div>
                                        <span class="btn btn-rose btn-round btn-file">
                                            <span class="fileinput-new"></span>
                                            <input type="file" id="image1" accept="image/gif, image/jpeg, image/png" />
                                            <textarea name="image1_b64" id="imageValue1" cols="30" rows="10"
                                                hidden></textarea>
                                        </span>
                                    </div>
                                    <p id="format_err11" class="text-danger"></p>
                                </div>
                            </div>

                            {{!-- item 1 end--}}

                            {{!-- item 2 start --}}
                            <div class="col-sm-6 mb-3">
                                <h6 class="text-muted">Img 1</h6>
                                <div class="fileinput fileinput-new text-center">
                                    <div class="fileinput-new thumbnail">
                                        <img src="/uploads/image-2/{{product._id}}.jpg" id="chekPreview2" alt="...">

                                    </div>
                                    <div>
                                        <span class="btn btn-rose btn-round btn-file">
                                            <span class="fileinput-new"></span>
                                            <input type="file" id="image2" accept="image/gif, image/jpeg, image/png" />
                                            <textarea name="image2_b64" id="imageValue2" cols="30" rows="10"
                                                hidden></textarea>
                                        </span>
                                    </div>
                                    <p id="format_err22" class="text-danger"></p>
                                </div>
                            </div>
                        </div>
                        {{!-- item 2 end--}}


                        {{!-- item 3 start --}}
                        <div class="row gx-2">
                            <div class="col-sm-6 mb-3">
                                <h6 class="text-muted">Img 2</h6>
                                <div class="fileinput fileinput-new text-center">
                                    <div class="fileinput-new thumbnail">
                                        <img src="/uploads/image-3/{{product._id}}.jpg" id="chekPreview3" alt="...">

                                    </div>
                                    <div>
                                        <span class="btn btn-rose btn-round btn-file">
                                            <span class="fileinput-new"></span>
                                            <input type="file" id="image3" accept="image/gif, image/jpeg, image/png" />
                                            <textarea name="image3_b64" id="imageValue3" cols="30" rows="10"
                                                hidden></textarea>
                                        </span>
                                    </div>
                                    <p id="format_err33" class="text-danger"></p>
                                </div>
                            </div>

                            {{!-- item 3 end--}}


                            {{!-- item 4 start --}}
                            <div class="col-sm-6 mb-3">
                                <h6 class="text-muted">Img 3</h6>
                                <div class="fileinput fileinput-new text-center">
                                    <div class="fileinput-new thumbnail">
                                        <img src="/uploads/image-4/{{product._id}}.jpg" id="chekPreview4" alt="...">
                                    </div>
                                    <div>
                                        <span class="btn btn-rose btn-round btn-file">
                                            <span class="fileinput-new"></span>
                                            <input type="file" id="image4" accept="image/gif, image/jpeg, image/png" />
                                            <textarea name="image4_b64" id="imageValue4" cols="30" rows="10"
                                                hidden></textarea>
                                        </span>
                                    </div>
                                    <p id="format_err44" class="text-danger"></p>
                                </div>
                            </div>
                        </div>
                        {{!-- item 4 end--}}
                        {{!-- item 5 start --}}
                        <div class="col-sm-6 mb-3">
                            <h6 class="text-muted">Img 4</h6>
                            <div class="fileinput fileinput-new text-center">
                                <div class="fileinput-new thumbnail">
                                    <img src="/uploads/image-5/{{product._id}}.jpg" id="chekPreview5" alt="...">

                                </div>
                                <div>
                                    <span class="btn btn-rose btn-round btn-file">
                                        <span class="fileinput-new"></span>
                                        <input type="file" id="image5" accept="image/gif, image/jpeg, image/png" />
                                        <textarea name="image5_b64" id="imageValue5" cols="30" rows="10"
                                            hidden></textarea>
                                    </span>
                                </div>
                                <p id="format_err55" class="text-danger"></p>
                            </div>
                        </div>

                        {{!-- item 5 end--}}


                    </div>
                </div>

                <!-- Modal 1-->
                <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                                <button type="button" class="close" data-dismiss="modal" onclick="hide(modal1)"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <img src="" id="sampleImage1" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="preview" id="preview1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" id="crop1" class="btn btn-primary">Crop</button>
                                <button type="button" class="btn btn-secondary" onclick="hide(modal1)"
                                    data-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal  1 end-->



                <!-- Modal 2-->
                <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                                <button type="button" class="close" onclick="hide(modal2)" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <img src="" id="sampleImage2" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="preview" id="preview2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" id="crop2" class="btn btn-primary">Crop</button>
                                <button type="button" class="btn btn-secondary" onclick="hide(modal2)"
                                    data-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal  2 end-->


                <!-- Modal 3-->
                <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                                <button type="button" class="close" data-dismiss="modal" onclick="hide(modal3)"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <img src="" id="sampleImage3" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="preview" id="preview3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" id="crop3" class="btn btn-primary">Crop</button>
                                <button type="button" class="btn btn-secondary" onclick="hide(modal3)"
                                    data-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal  3 end-->

                <!-- Modal 4-->
                <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                                <button type="button" class="close" data-dismiss="modal" onclick="hide(modal4)"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <img src="" id="sampleImage4" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="preview" id="preview4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" id="crop4" class="btn btn-primary">Crop</button>
                                <button type="button" onclick="hide(modal4)" class="btn btn-secondary"
                                    data-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal  4 end-->
                <!-- Modal 5-->
                <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Crop Image Here</h5>
                                <button type="button" class="close" data-dismiss="modal" onclick="hide(modal5)"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="img-container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <img src="" id="sampleImage5" />
                                        </div>
                                        <div class="col-md-4">
                                            <div class="preview" id="preview5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                                <button type="button" id="crop5" class="btn btn-primary">Crop</button>
                                <button type="button" class="btn btn-secondary" onclick="hide(modal5)"
                                    data-dismiss="modal">Cancel</button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal  5 end-->
                <button type="submit" class="btn btn-primary">Submit</button>
                <p id="error-message" class="text-danger"></p>
            </form>
        </div>
    </div> <!-- card end// -->


</section> <!-- content-main end// -->

<script>

    var prod_name = true; var prod_des = true; var prod_price = true; prod_qty = true;
    $("#prod_name").on('input', function () {
        this.value = this.value.replace(/[^ a-zA-Z]/, '');
        var name = $(this).val()
        if (name.length < 5 || name.charAt(0) == ' ') {
            $("#error-aename").text("Min 5 input needed");
            prod_name = false;
        } else {
            prod_name = true;
            $("#error-aename").text(" ");

        }
    })
    $('#prod_des').blur(function () {
        var password = $(this).val()
        if (password.length < 10) {
            $("#error-dename").text("Min 10 input needed");
            prod_des = false;
        } else {
            prod_des = true;
            $("#error-dename").text(" ");
        }
    })
    $('#prod_price').on('input', function () {
        this.value = this.value.replace(/[^0-9]/, '').replace(/(\..*)\./, '$1');
        var password = $(this).val()
        if (password.length < 2) {
            $("#error-pasname").text("Min 3 input needed");
            prod_price = false;
        } else {
            prod_price = true;
            $("#error-pasname").text(" ");
        }
    })
    $('#prod_qty').on('input', function () {
        this.value = this.value.replace(/[^0-9]/, '').replace(/(\..*)\./, '$1');
        var password = $(this).val()
        if (password.length < 1) {
            $("#error-qtname").text("Min 3 input needed");
            prod_qty = false;
        } else {
            prod_qty = true;
            $("#error-qtname").text(" ");
        }
    })


    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    var img1; var img2; var img3; var img4; var img5;
    let Img1 = true; let Img2 = true; let Img3 = true; let Img4 = true; let Img5 = true;
    document.getElementById('image1').onchange = e => {
        value = e.target.files[0]
        value = value.type
        if (value == 'image/jpeg' || value == 'image/jpg' || value == 'image/png') {
            Img1 = true
            var image1 = document.getElementById('sampleImage1');
            var modal1 = $('#modal1');
            var cropper1;

            var files = event.target.files;

            var done = function (url) {
                image1.src = url;
                modal1.modal('show');
            };

            if (files && files.length > 0) {
                reader = new FileReader();
                reader.onload = function (event) {
                    done(reader.result);
                };
                reader.readAsDataURL(files[0]);
            }


            modal1.on('shown.bs.modal', function () {
                cropper1 = new Cropper(image1, {
                    aspectRatio: 1,
                    viewMode: 3,
                    preview: '#preview1'
                });
            }).on('hidden.bs.modal', function () {
                cropper1.destroy();
                cropper1 = null;
            });

            $('#crop1').click(function () {
                canvas = cropper1.getCroppedCanvas({
                    width: 400,
                    height: 400
                });

                canvas.toBlob(function (blob) {
                    url = URL.createObjectURL(blob);
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onloadend = function () {
                        var base64data = reader.result;

                        modal1.modal('hide');
                        img1 = base64data
                        $("#imageValue1").val(base64data)
                        console.log(img1)
                        $('#chekPreview1').attr('src', base64data);
                    };
                });
            });
        } else {
            Img1 = false
            document.getElementById('format_err11').innerHTML = "invalid format"
        }
    }

    document.getElementById('image2').onchange = e => {
        value = e.target.files[0]
        value = value.type
        if (value == 'image/jpeg' || value == 'image/jpg' || value == 'image/png') {
            Img2 = true
            var image2 = document.getElementById('sampleImage2');
            var modal2 = $('#modal2');
            var cropper2;

            var files = event.target.files;

            var done = function (url) {
                image2.src = url;
                modal2.modal('show');
            };

            if (files && files.length > 0) {
                reader = new FileReader();
                reader.onload = function (event) {
                    done(reader.result);
                };
                reader.readAsDataURL(files[0]);
            }

            modal2.on('shown.bs.modal', function () {
                cropper2 = new Cropper(image2, {
                    aspectRatio: 1,
                    viewMode: 3,
                    preview: '#preview2'
                });
            }).on('hidden.bs.modal', function () {
                cropper2.destroy();
                cropper2 = null;
            });

            $('#crop2').click(function () {
                canvas = cropper2.getCroppedCanvas({
                    width: 400,
                    height: 400
                });

                canvas.toBlob(function (blob) {
                    url = URL.createObjectURL(blob);
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onloadend = function () {
                        var base64data = reader.result;
                        modal2.modal('hide');
                        img2 = base64data
                        $("#imageValue2").val(base64data)
                        $('#chekPreview2').attr('src', base64data);
                    };
                });
            });
        } else {
            Img2 = false
            document.getElementById('format_err22').innerHTML = "invalid format"
        }
    }
    document.getElementById('image3').onchange = e => {
        value = e.target.files[0]
        value = value.type
        if (value == 'image/jpeg' || value == 'image/jpg' || value == 'image/png') {
            Img3 = true
            var image3 = document.getElementById('sampleImage3');
            var modal3 = $('#modal3');
            var cropper3;

            var files = event.target.files;

            var done = function (url) {
                image3.src = url;
                modal3.modal('show');
            };

            if (files && files.length > 0) {
                reader = new FileReader();
                reader.onload = function (event) {
                    done(reader.result);
                };
                reader.readAsDataURL(files[0]);
            }

            modal3.on('shown.bs.modal', function () {
                cropper3 = new Cropper(image3, {
                    aspectRatio: 1,
                    viewMode: 3,
                    preview: '#preview3'
                });
            }).on('hidden.bs.modal', function () {
                cropper3.destroy();
                cropper3 = null;
            });

            $('#crop3').click(function () {
                canvas = cropper3.getCroppedCanvas({
                    width: 400,
                    height: 400
                });

                canvas.toBlob(function (blob) {
                    url = URL.createObjectURL(blob);
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onloadend = function () {
                        var base64data = reader.result;
                        modal3.modal('hide');
                        img3 = base64data
                        $("#imageValue3").val(base64data)
                        $('#chekPreview3').attr('src', base64data);
                    };
                });
            });
        } else {
            Img3 = false
            document.getElementById('format_err33').innerHTML = "invalid format"
        }
    }
    document.getElementById('image4').onchange = e => {
        value = e.target.files[0]
        value = value.type
        if (value == 'image/jpeg' || value == 'image/jpg' || value == 'image/png') {
            Img4 = true
            var image4 = document.getElementById('sampleImage4');
            var modal4 = $('#modal4');
            var cropper4;

            var files = event.target.files;

            var done = function (url) {
                image4.src = url;
                modal4.modal('show');
            };

            if (files && files.length > 0) {
                reader = new FileReader();
                reader.onload = function (event) {
                    done(reader.result);
                };
                reader.readAsDataURL(files[0]);
            }

            modal4.on('shown.bs.modal', function () {
                cropper4 = new Cropper(image4, {
                    aspectRatio: 1,
                    viewMode: 3,
                    preview: '#preview4'
                });
            }).on('hidden.bs.modal', function () {
                cropper4.destroy();
                cropper4 = null;
            });

            $('#crop4').click(function () {
                canvas = cropper4.getCroppedCanvas({
                    width: 400,
                    height: 400
                });

                canvas.toBlob(function (blob) {
                    url = URL.createObjectURL(blob);
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onloadend = function () {
                        var base64data = reader.result;
                        modal4.modal('hide');
                        img4 = base64data
                        $("#imageValue4").val(base64data)
                        $('#chekPreview4').attr('src', base64data);
                    };
                });
            });
        } else {
            Img4 = false
            document.getElementById('format_err44').innerHTML = "invalid format"
        }
    }
    document.getElementById('image5').onchange = e => {
        value = e.target.files[0]
        value = value.type
        if (value == 'image/jpeg' || value == 'image/jpg' || value == 'image/png') {
            Img5 = true
            var image5 = document.getElementById('sampleImage5');
            var modal5 = $('#modal5');
            var cropper5;

            var files = event.target.files;

            var done = function (url) {
                image5.src = url;
                modal5.modal('show');
            };

            if (files && files.length > 0) {
                reader = new FileReader();
                reader.onload = function (event) {
                    done(reader.result);
                };
                reader.readAsDataURL(files[0]);
            }

            modal5.on('shown.bs.modal', function () {
                cropper5 = new Cropper(image5, {
                    aspectRatio: 1,
                    viewMode: 3,
                    preview: '#preview5'
                });
            }).on('hidden.bs.modal', function () {
                cropper5.destroy();
                cropper5 = null;
            });

            $('#crop5').click(function () {
                canvas = cropper5.getCroppedCanvas({
                    width: 400,
                    height: 400
                });

                canvas.toBlob(function (blob) {
                    url = URL.createObjectURL(blob);
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onloadend = function () {
                        var base64data = reader.result;
                        modal5.modal('hide');
                        img5 = base64data
                        $("#imageValue5").val(base64data)
                        $('#chekPreview5').attr('src', base64data);
                    };
                });
            });
        } else {
            Img5 = false
            document.getElementById('format_err55').innerHTML = "invalid format"
        }
    }

    function editProduct() {
        console.log(prod_name)
        console.log(prod_des);
        console.log(prod_price);
        console.log(prod_qty);
        console.log(Img1);
        console.log(Img2);
        console.log(Img3);
        console.log(Img4);
        console.log(Img5);
        if (prod_name == true && prod_des == true && prod_price == true && prod_qty == true && Img1 == true && Img2 == true && Img3 == true && Img4 == true && Img5 == true) {
            return true
        } else {
            $("#error-message").text("fill the fields");
            return false;
        }
    }
    function hide(mod) {
        $(mod).modal('hide');
    }





</script>