<section>
    <div class="content-header container-fluid">
        <h2 class="content-title">Sales Report </h2>

    </div>
    <form action="">
        <div class="card mb-4">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col col-check flex-grow-0">

                    </div>
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">

                    </div>
                    <div class="col-md-2 col-6">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-2 col-6">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-2 col-6">
                        <button class='btn btn-primary me-md-2' type='submit'>Submit</button>
                    </div>
                </div>
            </header>
        </div>
    </form>
    </article> <!-- card-body end// -->
    </div> <!-- card end// -->
    </div> <!-- col end// -->
    </div> <!-- row end// -->


    <div class="card mb-4 container-fluid">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#No.</th>
                            <th scope="col">order ID</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>

                        </tr>
                    </thead>
                    {{#each salesreport}}
                    <tr>
                        <td>{{calculation @index}}</td>
                        <td>{{orderid}}</td>
                        <td>{{userid}}</td>
                        <td><span class="badge rounded-pill alert-success">{{payment}}</span></td>
                        <td>₹ {{amount}}</td>
                        <td>{{date}}</td>
                        {{!-- <td class="text-end">
                            <a href="#" class="btn btn-light">Detail</a>
                            <div class="dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i
                                        class="material-icons md-more_horiz"></i> </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">View detail</a>
                                    <a class="dropdown-item" href="#">Edit info</a>
                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                </div>
                            </div> <!-- dropdown //end -->
                        </td> --}}
                    </tr>
                    {{/each}}

                </table>
            </div> <!-- table-responsive end// -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->

</section>