<section>

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area  ">
        <div class="container">
            <div class="row">
                {{!-- --}}
                <div class="container mt-5 p-3 rounded cart ">
                    <div class="row no-gutters">

                        <div class="col-md-8 col-12 col-md-6 col-lg-5 ml-lg-auto ">
                            <div class="product-details mr-2 shadow-sm p-3 ">
                                <div>
                                    <h4>Delivery Address</h4>

                                </div>
                                <hr>
                                <form action="" id="buynow-form">
                                    <p>Home Address</p>
                                    {{#each addressDetails}}

                                    <div class="d-flex justify-content-between p-2">
                                        <input class="form-check-input " value="{{this.address.address}}" name="address"
                                            type="radio" name="flexRadioDefault" id="" checked> <span
                                            class="ml-4">{{this.address.fullname}}</span><button
                                            class="btn mr-2 pl-1 btn-light"
                                            onclick="deleteaddress('{{this._id}}','{{this.user}}','{{this.address.address}}')"><i
                                                class="fa fa-trash-o ml-2 text-white-60"></i></button>
                                    </div>

                                    <span class="ml-4">{{ this.address.address}}</span> <span>
                                        {{this.address.city}}
                                    </span>
                                    <span>{{this.address.place}} </span>
                                    <span>{{this.address.pincode}}</span>

                                    {{/each}}

                            </div>
                            {{#each prodDetails}}
                            <div class="p-2"> <a href="/buy-address/{{this._id}}" class="btn essence-btn">+ Add
                                    New Address</a>
                            </div>
                        </div>
                        {{/each}}
                        {{!-- --}}

                        <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                            <div class="order-details-confirmation">
                                <div class="cart-page-heading">
                                    <p>Order Details</p>
                                </div>
                                <div
                                    class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded shadow-sm">
                                    {{#each prodDetails}}
                                    <div class="d-flex flex-row">
                                        <input type="hidden" id="proId" name="proId" value="{{this._id}}">

                                        <img class="rounded" src="/uploads/image-1/{{this._id}}.jpg" width="40"
                                            height="50"><a href=""></a>

                                        {{#if isoffer}}
                                        <a href="" style="text-decoration: none; color:black">
                                            <div class="ml-2"><span class="font-weight-bold d-block"
                                                    style=" display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 25ch;">{{this.product}}
                                                </span> <span class="text-muted"
                                                    style="text-decoration: line-through;">₹
                                                    {{this.price}}</span> ₹{{this.offerprice}}<span class="spec"></span>
                                            </div>
                                        </a>
                                        {{else}}
                                        <a href="" style="text-decoration: none; color:black">
                                            <div class="ml-2"><span class="font-weight-bold d-block"
                                                    style=" display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 25ch;">{{this.product}}
                                                </span>Rs.
                                                {{this.price}}<span class="spec"></span></div>
                                        </a>
                                        {{/if}}
                                    </div>

                                    <div class="d-flex flex-row align-items-center"><span id="">1</span>

                                        <span class="d-block ml-5 font-weight-bold"></span>

                                    </div>

                                </div>
                                {{#if isoffer}}
                                <ul class="order-details-form mb-4">
                                    <li><span>Subtotal</span> <span>₹{{offerprice}}</span></li>
                                    <li><span>Shipping</span> <span>Free</span></li>
                                    <li><span>Total</span><span id="total-price">₹{{offerprice}}</span>
                                    </li>
                                </ul>
                                {{else}}

                                <ul class="order-details-form mb-4">
                                    <li><span>Subtotal</span> <span>₹{{price}}</span></li>
                                    <li><span>Shipping</span> <span>Free</span></li>
                                    <li><span>Total</span><span id="total-price">₹{{price}}</span>
                                    </li>
                                </ul>
                                {{/if}}
                                {{/each}}
                                <h5 class="pb-3">payment</h5>
                                <div class="product-details mr-2 shadow-sm p-2 ">
                                    <div class="form-check">
                                        <input class="form-check-input" value="COD" name="payment" type="radio"
                                            name="flexRadioDefault" id="radiopayment1" checked>
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Cash on Delivery
                                        </label>
                                    </div>
                                </div>
                                <div class="product-details mr-2 shadow-sm p-2 ">

                                    <div class="form-check">
                                        <input class="form-check-input" value="RAZORPAY" name="payment" type="radio"
                                            name="flexRadioDefault" id="radiopayment2">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Razor Pay
                                        </label>
                                    </div>

                                </div>
                                <div class="product-details mr-2 shadow-sm p-2 ">

                                    <div class="form-check">
                                        <input class="form-check-input" value="PAYPAL" name="payment" type="radio"
                                            name="flexRadioDefault" id="radiopayment2">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Pay Pal
                                        </label>
                                    </div>

                                </div>
                                <div class="p-2"> <button class="btn essence-btn " type="submit">
                                        Place Order </button></div>
                            </div>

                            </form>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ##### Checkout Area End ##### -->
</section>
<script>
    function deleteaddress(addId, userId, add) {

        console.log(add)
        $.ajax({
            url: '/deleteaddress',
            data: {
                add: addId,
                user: userId,
                address: add
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    // alert("Deleted")
                    location.reload()
                } else {

                }
            }
        })
    }

</script>