<div class="breadcumb_area bg-img">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Dog's Accessories & Grooming</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">




                    {{!-- <div class="widget color mb-50">
                        <!-- Widget Title 2 -->


                    </div> --}}

                    <!-- ##### Single Widget ##### -->
                    {{!-- <div class="widget brands mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-20">Catagories</p>
                        <ul>
                            <li><a href="#">Grooming</a></li>
                            <li><a href="#">Collars</a></li>
                        </ul>




                    </div> --}}
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">
                                <!-- Total Products -->
                                {{!-- <div class="total-products">
                                    <p><span>186</span> products found</p>
                                </div> --}}
                                <!-- Sorting -->
                                {{!-- <div class="product-sorting d-flex">
                                    <p>Sort by:</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortByselect">
                                            <option value="value">Highest Rated</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Price: $$ - $</option>
                                            <option value="value">Price: $ - $$</option>
                                        </select>
                                        <input type="submit" class="d-none" value="">
                                    </form>
                                </div> --}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        {{#each products}}
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">
                                    <div class="product-favourite">
                                        <button class="favme fa fa-heart btn btn-light p-2 float-right" type="button"
                                            style="border: none; background:rgb(255,255,255)"
                                            onclick="addtowishlist('{{this._id}}')"></button>
                                        {{!-- <a href="" onclick="addtowishlist('{{this._id}}')"
                                            class="favme fa fa-heart"></a> --}}
                                    </div>
                                    <img class="img-fluid" src="/uploads/image-1/{{this._id}}.jpg" alt=""
                                        style="height: 200px;  max-width: 200px;">
                                    <!-- Hover Thumb -->
                                    {{!-- <img class="hover-img" src="/uploads/image-1/{{this._id}}.jpg" alt=""
                                        style="height: 190px; width: 130px;"> --}}

                                    <!-- Product Badge -->
                                    {{#if isoffer}}
                                    <div class="product-badge offer-badge">
                                        <span>-{{this.offer}}%</span>
                                    </div>
                                    {{else}}
                                    {{/if}}
                                    <!-- Favourite -->

                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>paw paw</span>
                                    <a href="/single-product/{{this._id}}">
                                        <h6
                                            style=" display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 28ch;">
                                            {{this.product}}</h6>
                                    </a>
                                    {{#if isoffer}}
                                    <p class="product-price"><span class="">₹ {{this.price}}</span>₹ {{this.offerprice}}
                                    </p>
                                    {{else}}
                                    <p class="product-price"><span class="old-price"></span>₹ {{this.price}}</p>
                                    {{/if}}
                                    <div class="p-1"><button type="button" onclick="addTobag('{{this._id}}')"
                                            class="btn btn-outline-danger btn-sm">Add to
                                            bag</button></a>
                                        <button type="button" onclick="buynow('{{this._id}}')"
                                            class="btn btn-outline-danger btn-sm">Buy Now</button>
                                    </div>
                                    <!-- Hover Content -->
                                    {{!-- <div class="hover-content row gx-2 container">
                                        <!-- Add to Cart -->
                                        <div class="add-to-cart-btn col">
                                            <a href="#" class="btn essence-btn">Add to Cart</a>
                                        </div>
                                        <div class="add-to-cart-btn col">
                                            <a href="#" class="btn essence-btn">Buy Now</a>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <!-- Single Product -->


                        <!-- Single Product -->


                    </div>
                </div>
                <!-- Pagination -->
                {{!-- <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav> --}}
            </div>
        </div>
    </div>
</section>