{{!-- --}}
<section id="subhome" style="display: none;">
    <div class="breadcumb_area bg-img">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Search Results</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Shop Grid Area Start ##### -->
    <section class="shop_grid_area section-padding-80" style="display: none;" id="showhome">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">




                        {{!-- <div class="widget color mb-50">
                            <!-- Widget Title 2 -->


                        </div> --}}

                        <!-- ##### Single Widget ##### -->
                        <div class="widget brands mb-50">
                            <!-- Widget Title 2 -->




                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    {{!-- <div class="total-products">
                                        <p><span>186</span> products found</p>
                                    </div> --}}
                                    <!-- Sorting -->
                                    {{!-- <div class="product-sorting d-flex">
                                        <p>Sort by:</p>
                                        <form action="#" method="get">
                                            <select name="select" id="sortByselect">
                                                <option value="value">Highest Rated</option>
                                                <option value="value">Newest</option>
                                                <option value="value">Price: $$ - $</option>
                                                <option value="value">Price: $ - $$</option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        </form>
                                    </div> --}}
                                </div>
                            </div>
                        </div>


                        <!-- Single Product -->
                        <div class="row" id="home1"></div>
                        {{!-- --}}
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
</section>
{{!-- --}}

<section class="welcome_area bg-img background-overlay" style="background-image: url(img/bg-img/bg-1.jpg);" id="home">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h6>Paw Paw</h6>
                    <h2>We make your pet <br>look great</h2>
                    <a href="#popular_products" class="btn essence-btn">Popular Products</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Welcome Area End ##### -->

<!-- ##### Top Catagory Area Start ##### -->

<div class="top_catagory_area section-padding-80 clearfix" id="home1c">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                    style="background-image: url(img/bg-img/bg-2.jpg);">
                    <div class="catagory-content">
                        <a class="underline" href="/dogretailvet">Dog</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                    style="background-image: url(img/bg-img/bg-3.jpg);">
                    <div class="catagory-content">
                        <a class="underline" href="/catretailvet">Cat</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img"
                    style="background-image: url(img/bg-img/bg-4.jpg);">
                    <div class="catagory-content">
                        <a class="underline" href="/doggrooming">Accessories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Top Catagory Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<div class="cta-area" id="home2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content bg-img background-overlay" style="background-image: url(img/bg-img/bg-5.jpg);">
                    <div class="h-100 d-flex align-items-center justify-content-end">
                        <div class="cta--text">
                            <h6>-30%</h6>
                            <h2>Discount Sale</h2>
                            <a href="/catretailvet" class="btn essence-btn">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->

<!-- ##### New Arrivals Area Start ##### -->
<section id="popular_products" class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">

                    <h2>Popular Products</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">

                    <!-- Single Product -->

                    {{#each products}}
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">

                            <img src="uploads/image-2/{{this._id}}.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="uploads/image-3/{{this._id}}.jpg" alt="">
                            <!-- Favourite -->

                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>PawPaw</span>
                            <a href="/single-product/{{this._id}}">
                                <h6
                                    style=" display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 25ch;">
                                    {{this.product}}</h6>
                            </a>
                            {{#if isoffer}}
                            <p class="product-price"><span class="">₹ {{this.price}}</span>₹ {{this.offerprice}}
                            </p>
                            {{else}}
                            <p class="product-price"><span class="old-price"></span>₹ {{this.price}}</p>
                            {{/if}}
                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                {{!-- <div class="add-to-cart-btn">
                                    <a href="" onclick="addTobag('{{this._id}}')" class="btn essence-btn">Add to
                                        Cart</a>
                                </div> --}}
                                <div class="add-to-cart-btn">
                                    <button type="button" onclick="addTobag('{{this._id}}')"
                                        class="essence-btn-sm ml-5">Add
                                        to
                                        bag</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}



                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->

<!-- ##### Brands Area Start ##### -->
<div class="brands-area d-flex align-items-center justify-content-between">
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <img src="img/core-img/brand1.png" alt="">
    </div>
    <div class="single-brands-logo">
        <img src="img/core-img/brand1.png" alt="">
    </div>
    <div class="single-brands-logo">
        <img src="img/core-img/brand1.png" alt="">
    </div>
    <div class="single-brands-logo">
        <img src="img/core-img/brand1.png" alt="">
    </div>
    <div class="single-brands-logo">
        <img src="img/core-img/brand1.png" alt="">
    </div>
    <div class="single-brands-logo">
        <img src="img/core-img/brand1.png" alt="">
    </div>

</div>
<!-- ##### Brands Area End ##### -->

{{!--
<!-- ##### Footer Area Start ##### -->

<!-- ##### Footer Area End ##### --> --}}
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="/js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>
<script>
    $('#search-product').on("submit", (e) => {
        let key = document.getElementById('headerSearch').value
        e.preventDefault()
        let elem;
        $.ajax({
            url: "/search-product",
            data: { key },
            method: "post",
            success: function (response) {
                console.log(response)
                if (response.body) {
                    document.getElementById('home').style.display = "none"
                    document.getElementById('home1c').style.display = "none"
                    document.getElementById('home2').style.display = "none"
                    document.getElementById('popular_products').style.display = "none"
                    document.getElementById('subhome').style.display = ""
                    document.getElementById('showhome').style.display = ""
                    document.getElementById('home1').innerHTML = ""
                    for (i = 0; i <= response.body.length; i++) {

                        elem = ` <div class="col-12 col-sm-6 col-lg-4 ">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                 <div class="product-img">
                                    <div class="product-favourite">
                                        <button class="favme fa fa-heart btn btn-light p-2 float-right" type="button"
                                            style="border: none; background:rgb(255,255,255)"
                                            onclick="addtowishlist('${response.body[i]._id}')"></button>
                                        {{!-- <a href="" onclick="addtowishlist('${response.body[i]._id}')"
                                            class="favme fa fa-heart"></a> --}}
                                    </div>
                                    <img src="/uploads/image-1/${response.body[i]._id}.jpg" alt=""
                                        style="height: 200px; width: 130px;">
                                    <!-- Hover Thumb -->
                                    {{!-- <img class="hover-img" src="/uploads/image-1/${response.body[i]._id}.jpg" alt=""
                                        style="height: 190px; width: 130px;"> --}}

                                    <!-- Product Badge -->
                                    {{#if isoffer}}
                                    <div class="product-badge offer-badge">
                                        <span>-{{this.offer}}%</span>
                                    </div>
                                    {{else}}
                                    {{/if}}
                                    <!-- Favourite -->

                                </div>
                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>paw paw</span>
                                    <a href="/single-product/${response.body[i]._id}">
                                        <h6
                                            style=" display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 28ch;">
                                            ${response.body[i].product}</h6>
                                    </a>
                                    {{#if isoffer}}
                                    <p class="product-price"><span class="">₹ ${response.body[i].price}</span>₹ ${response.body[i].offerprice}
                                    </p>

                                    {{else}}
                                    <p class="product-price"><span class="old-price"></span>₹ ${response.body[i].price}</p>
                                    {{/if}}
                                    <div class="p-1"><button type="button" onclick="addTobag('${response.body[i]._id}')"
                                            class="btn btn-outline-danger btn-sm">Add to
                                            bag</button></a>
                                        <button type="button" onclick="buynow('${response.body[i]._id}')"
                                            class="btn btn-outline-danger btn-sm">Buy Now</button>
                                    </div>
                                    <!-- Hover Content -->
                                   
                                </div>
                            </div>
                        </div>`
                        document.getElementById('home1').innerHTML += elem


                    }

                } else {
                    Swal.fire("No matching product")
                }

            },
            error: function (err) {
                // alert("Something Error")
            }
        })


    })
</script>