<section>

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>My Bag</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area  ">
        <div class="container">
            <div class="row">
                {{!-- --}}
                <div class="container mt-5 p-3 rounded cart">
                    <div class="row no-gutters">
                        <div class="col-md-8 col-12 col-md-6 col-lg-5 ml-lg-auto">
                            <div class="product-details mr-2">

                                <hr>

                                <div class="d-flex justify-content-between"><span></span>

                                </div>
                                {{#each products}}
                                <div
                                    class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded shadow-sm">

                                    <div class="d-flex flex-row">

                                        <img class="rounded" src="/uploads/image-1/{{this.product._id}}.jpg" width="40"
                                            height="50"><a href=""></a>
                                        <a href="" style="text-decoration: none; color:black">
                                            <div class="ml-2"><span
                                                    class="font-weight-bold d-block">{{this.product.product}}</span>Rs.
                                                {{this.product.price}}<span class="spec"></span></div>
                                        </a>

                                    </div>

                                    <div class="d-flex flex-row align-items-center"><button
                                            class="btn btn-light btn-circle m-2 cart-item-count"
                                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button><span
                                            id="{{this.product._id}}">{{this.quantity}}</span><button type="button"
                                            class="btn btn-light btn-circle m-2 cart-item-count"
                                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button><span
                                            class="d-block ml-5 font-weight-bold"></span>
                                        <button class="btn mr-2 pl-1 btn btn-light shadow-sm"
                                            onclick="deleteItem('{{this._id}}','{{this.product._id}}')"><i
                                                class="fa fa-trash-o ml-2 text-white-70"></i></button>
                                    </div>

                                </div>
                                {{/each}}

                            </div>
                        </div>
                        {{!-- --}}

                        <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                            <div class="order-details-confirmation">
                                <div class="cart-page-heading">
                                    <h5>Your Order</h5>
                                    <p>The Details</p>
                                </div>
                                <ul class="order-details-form mb-4">
                                    <li><span>Product</span> <span>Total</span></li>
                                    {{#each products}}
                                    <li><span
                                            style=" display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 25ch;">{{this.product.product}}</span>
                                        <span>₹</span>
                                    </li>
                                    {{/each }}
                                    <li><span>Subtotal</span> <span>$59.90</span></li>
                                    <li><span>Shipping</span> <span>Free</span></li>
                                    <li><span>Total</span><span id="total-price">₹{{totalPrice}}</span>
                                    </li>
                                </ul>
                                <a href="#" class="btn essence-btn">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Checkout Area End ##### -->
</section>

{{!--
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="/js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script> --}}