<section>

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>payment</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="checkout_area  ">
        <div class="container">
            <div class="row">
                {{!-- --}}
                <div class="container mt-5 p-3 rounded cart ">
                    <div class="row no-gutters">
                        <div class="col-md-8 col-12 col-md-6 col-lg-5 ml-lg-auto ">
                            <div class="product-details mr-2 shadow-sm p-1 ">
                                <p>Login</p>
                                <div class="d-flex justify-content-between">
                                    <span class="ml-4 p-2">{{user.username}}</span>
                                </div>
                            </div>
                            <div class="product-details mr-2 shadow-sm p-1 ">
                                <p>Address</p>
                                <div>
                                    <span id="address" class="ml-4">{{ addressDetails.address}}</span><span id="city">
                                        {{
                                        addressDetails.city}},</span>
                                    <span id="place">{{addressDetails.place}},</span> <span id="pincode">{{
                                        addressDetails.pincode}}</span>
                                </div>
                                {{!-- <i class="bi bi-check"></i> --}}

                            </div>
                            <hr>
                            <br>
                            <h5 class="pb-3">payment</h5>

                            <div class="product-details mr-2 shadow-sm p-2 ">

                                <div class="d-flex justify-content-between">
                                    <input class="form-check-input ml-1" type="checkbox" id="checkboxpayment"
                                        value="COD" name="payment">
                                    <span class="ml-4">Cash on delivery</span>
                                </div>
                            </div>
                            <div class="product-details mr-2 shadow-sm p-2 ">

                                <div class="d-flex justify-content-between">
                                    <input class="form-check-input ml-1" type="checkbox" id="checkboxNoLabel"
                                        name="payment" value="">
                                    <span class="ml-4">Online payment</span>
                                </div>

                            </div>


                        </div>


                        {{!-- --}}

                        <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                            <div class="order-details-confirmation">
                                <div class="cart-page-heading">
                                    <h5>Your Order</h5>
                                    <p>The Details</p>
                                </div>
                                <ul class="order-details-form mb-4">

                                    <li><span>Subtotal</span> <span>₹{{totalPrice}}</span></li>
                                    <li><span>Shipping</span> <span>Free</span></li>
                                    <li><span>Total</span><span id="total-price">₹{{totalPrice}}</span>
                                    </li>
                                </ul>
                                <div class="p-2"> <button class="btn essence-btn " type="submit">
                                        Place Order </button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Checkout Area End ##### -->
</section>

<script>



</script>








{{!--
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="/js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script> --}}