<section class="single_product_details_area d-flex align-items-center ">

    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel ">
            <img class="img-fluid" style="width:550px; height: 500px;" id="zoom"
                src="/uploads/image-2/{{product._id}}.jpg" alt=""
                data-zoom-image="/uploads/image-2/{{product._id}}.jpg">
            <img class="img-fluid" style="width:550px; height: 500px;" id="zoom1"
                src="/uploads/image-3/{{product._id}}.jpg" alt=""
                data-zoom-image="/uploads/image-3/{{product._id}}.jpg">
            <img class="img-fluid" id="zoom2" style="width:550px; height: 500px;"
                src="/uploads/image-4/{{product._id}}.jpg" alt=""
                data-zoom-image="/uploads/image-4/{{product._id}}.jpg">
            <img class="img-fluid" style="width:550px; height: 500px;" id="zoom3"
                src="/uploads/image-5/{{product._id}}.jpg" alt=""
                data-zoom-image="/uploads/image-5/{{product._id}}.jpg">
        </div>
    </div>

    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <span>PawPaw</span>
        <a href="#">
            <h2>{{product.product}}</h2>
        </a>
        {{#if product.isoffer}}
        <p class="product-price"><span class="old-price">₹ {{product.price}}</span>₹ {{product.offerprice}}</p>
        {{else}}
        <p class="product-price"><span class="old-price"></span>₹ {{product.price}}</p>
        {{/if}}
        <p class="product-desc">{{product.description}}</p>

        <!-- Form -->

        <!-- Select Box -->
        <div class="select-box d-flex mt-50 mb-30">

        </div>
        <!-- Cart & Favourite Box -->
        <div class="cart-fav-box d-flex align-items-center">
            <!-- Cart -->
            <div>
                {{#if alreadyAdded}}
                <a href="/mybag"> <button type="button" name="addtocart" value="5" class="btn essence-btn">Added to
                        bag</button></a>
                {{else}}
                <button type="button" name="addtocart" value="5" onclick="addTobag('{{product._id}}')"
                    class="btn essence-btn">Add to
                    bag</button>
                {{/if}}
                <button type="button" name="" value="5" onclick="buynow('{{product._id}}')" class="btn essence-btn">Buy
                    Now</button>

            </div>

            <!-- Favourite -->
            <div class="product-favourite ml-4">
                <a onclick="addtowishlist('{{product._id}}')" class="favme fa fa-heart"></a>
            </div>
        </div>

    </div>
</section>
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script type="text/javascript"
    src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="/js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>
<script>
    $('#zoom').ezPlus({
        zoomType: 'lens',
        lensShape: 'square',
        lensSize: 250
    });
    $('#zoom1').ezPlus({
        zoomType: 'lens',
        lensShape: 'square',
        lensSize: 250
    });
    $('#zoom2').ezPlus({
        zoomType: 'lens',
        lensShape: 'square',
        lensSize: 250
    });
    $('#zoom3').ezPlus({
        zoomType: 'lens',
        lensShape: 'square',
        lensSize: 250
    });
</script>