<div class="breadcumb_area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Wishlist</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Shop Grid Area Start ##### -->
<section class="shop_grid_area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="shop_sidebar_area">




                    {{!-- <div class="widget color mb-50">
                        <!-- Widget Title 2 -->


                    </div> --}}

                    <!-- ##### Single Widget ##### -->
                    {{!-- <div class="widget brands mb-50">
                        <!-- Widget Title 2 -->
                        <p class="widget-title2 mb-20">Catagories</p>
                        <ul>
                            <li><a href="#">puppy</a></li>
                            <li><a href="#">Adult</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Vet Products</a></li>
                        </ul>



                    </div> --}}
                </div>
            </div>

            <div class="col-12 col-md-8 col-lg-9">
                <div class="shop_grid_product_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-topbar d-flex align-items-center justify-content-between">

                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Single Product -->
                        {{#each products}}
                        <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-product-wrapper">
                                <!-- Product Image -->
                                <div class="product-img">

                                    <img src="/uploads/image-1/{{this.product._id}}.jpg" alt=""
                                        style="height: 200px; width: 130px;">

                                    <!-- Product Badge -->
                                    {{#if isoffer}}
                                    <div class="product-badge offer-badge">
                                        <span>-{{this.offer}}%</span>
                                    </div>
                                    {{else}}
                                    {{/if}}
                                    <!-- Favourite -->

                                </div>

                                <!-- Product Description -->
                                <div class="product-description">
                                    <span>paw paw</span>
                                    <a href="/single-product/{{this.product._id}}">
                                        <h6
                                            style=" display:inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 28ch;">
                                            {{this.product.product}}</h6>
                                    </a>
                                    {{#if isoffer}}
                                    <p class="product-price"><span class="">₹ {{this.product.price}}</span>₹
                                        {{this.offerprice}}
                                    </p>

                                    {{else}}
                                    <p class="product-price"><span class="old-price"></span>₹ {{this.product.price}}</p>
                                    {{/if}}
                                    <div class="p-1"><button type="button" onclick="moveTobag('{{this.product._id}}')"
                                            class="btn btn-outline-danger btn-sm">Move to
                                            bag</button></a>
                                        <button type="button"
                                            onclick="removewishlist('{{this._id}}','{{this.product._id}}')"
                                            class="btn btn-outline-danger btn-sm">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                </div>
                <!-- Pagination -->
                {{!-- <nav aria-label="navigation">
                    <ul class="pagination mt-50 mb-70">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">21</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav> --}}
            </div>
        </div>
    </div>
</section>

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="/js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="/js/active.js"></script>